<!-- <div class="main-container">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
  
    <aside class="sidebar">
      <div class="logo">My App</div>
      <ul class="menu">
        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
        <li><a [routerLink]="['/etudiant/profile', username]" (click)="onLinkClick()"><i class="fas fa-user"></i> {{ username }}</a></li>
        <li><a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>

      </ul>
    </aside>
  
    <main class="content">
      <h2>Welcome, {{ username }}!</h2>
      <p>Your Profile content...</p>
      <router-outlet></router-outlet>
    </main>
  </div>
> -->
<!-- user.component.html -->

<div class="main-container">
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-icon">&#9776;</label>

  <aside class="sidebar">
    <div class="logo">My App</div>
    <ul class="menu">
      <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
      <li><a [routerLink]="['/etudiant/profile', username]" (click)="onLinkClick()"><i class="fas fa-user"></i> {{ username }}</a></li>
      <li><a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </aside>

  <main class="content">
    <h2>Welcome, {{ username }}!</h2>
    <p>Your Profile content...</p>
    <router-outlet></router-outlet>
  </main>
</div>

  